@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.body-content{
	max-height: 300px !important;
	overflow-y: scroll;
}

.trix-button-group--history-tools{
	display: none !important;
}

.errno{
	color: rgba(255, 0, 0, 1.0);
}

/* css */
#title{
	font-family: 'Exo 2','sans-serif';
    font-size: 3.3vw;
    text-align: center;
    color: whitesmoke;
    padding-top: 18%;
}

#FrontPageLogo{
    max-width: 90%; 
}

#FrontPageLogoContainer{
	padding:1%; 
	width:25vw;
	display: inline-block
}

#FrontPageFlex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.linkButton{
	margin-top: 1vw;
	margin-right: 1vw;
	justify-content: center;
}


#FrontaPageContent{
    background: #050000;

	animation-name: fade-in;
	animation-duration: 2s;	
}
#frontpagebg{
	background-image: url('/image/svg/backgroudn.svg');
}

#eventCard{
    background: lemonchiffon;
}

#card{
    transition: all 1s ease;
}

#card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.80);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#eventTitle{
    background: #050000;
    color: white;
}
#carousel-orgs-inner{
    z-index: -10;
    margin: -10;
}


.item{
    width: 50%;
    margin: auto;
    transition: all 1s ease;
}
.item:hover{
    width: 85%;
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


#orgLinks{
	display: flex;
	flex-direction: column;	
	align-items: center;
}

#linkContainer{
	padding-top: 1%;
	padding-bottom: 1%;
	background: rgba(50, 50, 50, 1.0);
	margin-top: 1%;
	margin-bottom: 1%;
	color: rgba(255, 255, 255, 1.0);
	text-align: center;
}

#link{
	width: 100%;
}

hr{
	padding-top: 5%;
	padding-bottom: 1%;
}






/* carousel  */
.carousel-open:checked+.carousel-item {
          position: static;
          opacity: 100;
        }
      
        .carousel-item {
          -webkit-transition: opacity 0.6s ease-out;
          transition: opacity 0.6s ease-out;
        }
      
        #carousel-1:checked~.control-1,
        #carousel-2:checked~.control-2,
        #carousel-3:checked~.control-3 {
          display: block;
        }
      
        .carousel-indicators {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 2%;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 10;
        }
      
        #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
        #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
        #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
          color: #2b6cb0;
          /*Set to match the Tailwind colour you want the active one to be */
        }

.carousel-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#carousel-items-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#carousel-center-title{
	font-family: 'Kaushan Script', sans-serif;
	font-size: 5vw;
	color: white;
    transition: all 1s ease;
}
#carousel-center-title:hover{
	color: rgba(255, 255, 255, .7);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


#carousel-image-logo{
	max-width: 50%;
  	height: auto;
    transition: all 1s ease;
    -webkit-filter: brightness(100%);
}

#carousel-image-logo:hover{
	max-width: 70%;
  	height: auto;
  	-webkit-filter: brightness(20%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#carousel-background{
    -webkit-filter: brightness(100%);
    transition: all 1s ease;
}

#carousel-background:hover{
	-webkit-filter: brightness(20%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

#orgNav{
    background: rgb(29,0,0);
    background: linear-gradient(200deg, rgba(29,0,0,1) 0%, rgba(128,0,0,1) 51%,  rgba(255,215,0,1) 100%);
}


#orgNavLinks{
	font-family: 'Oxygen', sans-serif;
}

.front-container{
  width: 100%;
}
.bg-img {
  /* The image used */
  /*background-image: url('/image/svg/backgroudn.svg');*/
  /*background-image: url('/image/sample-bg.jpg');*/
  /*background-image: linear-gradient(to bottom, transparent, #0a0000), url('/image/sample-bg.jpg');*/

  width: 100%;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}



.frontpage-title-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  /*margin: auto;*/
}
.frontpage-title-image{
  margin: auto;
  /*width: 80%;*/
}
.frontpage-title-logo-container{
  width: 30%;
  object-fit: cover;
  margin: auto;
}
.frontpage-title-title-container{
  width: 80%;
  margin: auto;
  padding: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.frontpage-title-title{
  font-family: 'Roboto',sans-serif;
  color: maroon;
  font-size: 200%;
}


.front-article-img-container{
    width: 50px;
}



#org-bacground-image {
  /* The image used */
  background: linear-gradient(to bottom, transparent, #0a0000), url('/image/organization-banner.jpg');

  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

.org-logo-placeholder{
    margin: 5% auto 0px auto;
    width: 100%; 
    text-align: center; 
    position: relative; 
    padding-bottom: 35%; 
    border-radius: 20%; 
    overflow: hidden; 
    background-color: #ff0082;
}
.org-logo-image{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}


.login{
    background: linear-gradient(to bottom, transparent, #0a0000), url('/image/pup-newspage.jpg');

    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  /* Needed to position the navbar */
    position: relative;
    transition: all 1s ease;
    -webkit-filter: brightness(80%);

}
.login:hover{
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.glass{
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /*border: 3px solid #f1f1f1;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.login-label{
    color: rgba(255, 255, 255, 1.0);
}
.login-input{
    color: rgba(0, 0, 0, 1.0);
}





.news-title-text{
    font-family: 'Exo 2',sans-serif;
    font-size: 55px;
}
@media(max-width: 640px){
    .news-title-text{
        font-size: 40px;
    }    
}
@media(max-width: 768px){
    .news-title-text{
        font-size: 35px;
    }    
}
.news-container{
    background: white; 
    /*border: 2px solid black;*/
  /*border-radius: 12px;*/
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.latest-latest-news-container-nine{
    background: white; 
    /*border: 2px solid black;*/
  /*border-radius: 12px;*/
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
  transition: all 1s ease;
}
.latest-latest-news-container-nine:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);    
  transition: all 1s ease;
}
.text-center{
    font-family: 'Exo 2',sans-serif;
    font-size: 20px;
}



.table-title{
    font-family: 'Exo 2',sans-serif;
    font-size: 150%;
    color: black;
}


#footer-title{
    font-family: 'Exo 2',sans-serif;
    font-size: 20px;
}

.footer-links{
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
  transition: all 1s ease;
}
.footer-links:hover{
    /*animation: footer 4s ease 0s infinite alternate;*/
    background: #635400;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);    
  transition: all 1s ease;
}


.organization-title{
    font-family: 'Exo 2',sans-serif;
    font-size: 400%;
    margin: auto auto auto 10%;
}

.sliding-annonuncement-image-container{
    height: 80vh;
    width: 100%;
}
@media(max-width: 900px){
.sliding-annonuncement-image-container{
    height: 50vh;
    width: 100%;
}    
}

.sliding-annonuncement-image{
    object-fit: fill;
    width: 100vw;
    height: 100%;
}

.button-slider {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px !important;
    background: rgba(73, 74, 73, .3);
}
.slide-arrow:hover{
    background: rgba(73, 74, 73, .9);
}
.carousel-chevron{
    color: rgba(194, 194, 194, .9);
}

.prev-arrow {
    left:0px;
}

.next-arrow {
    right: 0px;
}

.slide-arrow::after {
    content: '';
    /*background: red;*/
    /*background: rgba(33, 38, 38, .5);;*/
    /*width: 100%;*/
    height: 100%;
}

.prev-arrow::after {
    /*border-left: 0 solid transparent;
    border-right: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;*/
    background: #494a49;
}

.next-arrow::after {
    background: #494a49;
    /*padding: 10px;*/
}

.sliding-announcement-wrap-homepage {
    position: relative;
    width: 100%;
}
.sliding-announcement-wrap {
    position: relative;
}

.sliding-announcement-wrap-newspage{
    position: relative;
    width: 100%;
    
}


.homepage-affliated-org-logos-container{
    background: rgba(143, 143, 143, .8); 
    height: 20vh;
}
.homepage-affliated-org-logos-image-container{
    height:10%;
    background: red;
}
.homepage-affliated-org-logos-image{
    object-fit:cover; 
    height:10%;
    width: 100%; 
    /*filter: grayscale(100%); */
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
}

.homepage-apearing-divs{
    background: #810100;
/*    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 5%;
*/
}


#logo-wrapper{
    background: rgba(143, 143, 143, .8);
}
.logo-container{
    height: 50px;
}
.logo-image{
    object-fit:fill; 
    height:100%;  
    filter: grayscale(100%); 
    margin: auto;
}









.organization-latest-news-slider-container{
    /*height: 10vh;*/
    height: 100%;
}
.organization-latest-news-slider{
    object-fit: fill;
    margin-left: 5%;
    margin-right: 5%;
    height: 10vw;
}










/*.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }

h3 {
    background: #f0f0f0;
    color: #3498db;
    font-size: 2.25rem;
    margin: .5rem;
    padding: 2%;
    position: relative;
    text-align: center;
}

.slider-single h3 {
    line-height: 10rem;
}

.slider-nav h3::before {
    content: "";
    display: block;
    padding-top: 75%;
}

.slider-nav h3 span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
    color: #c00;
    background-color: #fff
}*/



.latest-news-slider-holder {
  font-family:Arial;
  width:500px;
  display:block;
  margin:0 auto;
}
h3 {
    background: #fff;
    color: #3498db;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}
.action{
  display:block;
  margin:100px auto;
  width:100%;
  text-align:center;
}
.action a {
  display:inline-block;
  padding:5px 10px; 
  background:#f30;
  color:#fff;
  text-decoration:none;
}
.action a:hover{
  background:#000;
}



.system-title{
    display: block;
}
@media(max-width: 425px){
    .system-title{
        display: none;
    }    
}





.homepage-titles{
    font-family: 'Nunito',sans-serif;
    font-size: 20px;
}


.newspage-title{
    font-family: 'Roboto',sans-serif;
    font-size: 200%;
    font-weight: 400;
}
.homepage-news-bar-items{
    width: 100vw;
    margin-left: 100%;
    margin-right: 100%;
}

/*  ANIMATION  */
@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes footer{
   0%{
        background: rgba(122, 93, 227, 1.0);
        width: 10%;
    }
    100%{
        background: rgba(122, 93, 227, 1.0);
        width: 100%;
    }
}

/* RESPONSIVE  */
@media(max-width: 900px){
	#title{
		padding-top: 1%;
	}
}



.newspage-titles{
    font-family: 'Exo 2',sans-serif;
    font-size: 30px;
}
@media(max-width: 440px){
    .newspage-titles{
        font-size: 25px;
    }
}


.announcement-hover:hover{
    background: rgba(243,245,247,1.0);
}
.announcement-data:hover{
    color: rgba(26,27,27,1.0);
}

.announcement-data{
    color: rgba(243,245,247,1.0);
}



.article-newspage:hover{
    background: rgba(26,27,27,1.0);
    color: rgba(243,245,247,1.0);
}



.newspage-latest-events{
    object-fit:fill; 
    height:20vh; 
    width: 15vw;
}
@media(max-width: 430px){
    .newspage-latest-events{
        height:20vh; 
        width: 45vw;
        margin: auto;
    }
}
@media(max-width: 380px){
    .newspage-latest-events{
        height:15vh; 
        width: 30vw;
        margin: auto;
    }
}


.newspage-latest-events-title{
    width: 15vw;
}



.loader, .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
        .loader {            
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(255, 255, 255, 0.2);
            border-right: 1.1em solid rgba(255, 255, 255, 0.2);
            border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
            border-left: 1.1em solid #ffffff;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
        }
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        #loadingDiv {
            position:absolute;;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color:#000;
        }










.selected-news-data-announcement-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media(max-width: 450px){
    .selected-news-data-announcement-wrapper{
        flex-direction: column;
    }
    
    
}
.selected-news-announcement{
    width: 68vw;
}
@media(max-width: 450px){
    .selected-news-announcement{
        width: 100vw;
    }
}
.selected-news-data-content-scroll{
    width: 30vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    height: 30vw;
    background: rgba(12,12,12,1.0);
    margin-top: 20px;
}
@media(max-width: 450px){
    .selected-news-data-content-scroll{
        width: 100vw;
    }
}








.scroller::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scroller::-webkit-scrollbar
{
    width: 12px;
    background-color: rgba(12,12,12,1.0);
}

.scroller::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #D62929;
}



















.frontpage-announcement{
    background:#2A0001; 
    color:#ffe004;
}
.frontpage-announcement-data-link-container{
    width: 100vw;
}
.frontpage-announcement-data-container{
    width:100vw;
}


.slider-title-container{
    position: absolute; top: 90%; bottom: 0%; background: rgba(33, 38, 38, .8); width: 100vw;
}

.slider-title-data{
    color: rgba(255, 255, 255, 1.0);
}

.frontpage-announcement-list-container{
    overflow:auto;
}

.frontpage-latest-news-slider-data-image{
    object-fit:fill; height: 20vw
}







