@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.body-content{
	max-height: 300px !important;
	overflow-y: scroll;
}

.trix-button-group--history-tools{
	display: none !important;
}

.errno{
	color: rgba(255, 0, 0, 1.0);
}

/* css */
#title{
	font-family: 'Exo 2','sans-serif';
    font-size: 3.3vw;
    text-align: center;
    color: whitesmoke;
    padding-top: 18%;
}

#FrontPageLogo{
    max-width: 90%; 
}

#FrontPageLogoContainer{
	padding:1%; 
	width:25vw;
	display: inline-block
}

#FrontPageFlex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.linkButton{
	margin-top: 1vw;
	margin-right: 1vw;
	justify-content: center;
}


#FrontaPageContent{
    background: #050000;

	animation-name: fade-in;
	animation-duration: 2s;	
}
#frontpagebg{
	background-image: url('/image/svg/backgroudn.svg');
}

#eventCard{
    background: lemonchiffon;
}

#card{
    transition: all 1s ease;
}

#card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10), 0 6px 20px 0 rgba(0, 0, 0, 0.80);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#eventTitle{
    background: #050000;
    color: white;
}
#carousel-orgs-inner{
    z-index: -10;
    margin: -10;
}


.item{
    width: 50%;
    margin: auto;
    transition: all 1s ease;
}
.item:hover{
    width: 85%;
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


#orgLinks{
	display: flex;
	flex-direction: column;	
	align-items: center;
}

#linkContainer{
	padding-top: 1%;
	padding-bottom: 1%;
	background: rgba(50, 50, 50, 1.0);
	margin-top: 1%;
	margin-bottom: 1%;
	color: rgba(255, 255, 255, 1.0);
	text-align: center;
}

#link{
	width: 100%;
}

hr{
	padding-top: 5%;
	padding-bottom: 1%;
}






/* carousel  */
.carousel-open:checked+.carousel-item {
          position: static;
          opacity: 100;
        }
      
        .carousel-item {
          -webkit-transition: opacity 0.6s ease-out;
          transition: opacity 0.6s ease-out;
        }
      
        #carousel-1:checked~.control-1,
        #carousel-2:checked~.control-2,
        #carousel-3:checked~.control-3 {
          display: block;
        }
      
        .carousel-indicators {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          bottom: 2%;
          left: 0;
          right: 0;
          text-align: center;
          z-index: 10;
        }
      
        #carousel-1:checked~.control-1~.carousel-indicators li:nth-child(1) .carousel-bullet,
        #carousel-2:checked~.control-2~.carousel-indicators li:nth-child(2) .carousel-bullet,
        #carousel-3:checked~.control-3~.carousel-indicators li:nth-child(3) .carousel-bullet {
          color: #2b6cb0;
          /*Set to match the Tailwind colour you want the active one to be */
        }

.carousel-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#carousel-items-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#carousel-center-title{
	font-family: 'Kaushan Script', sans-serif;
	font-size: 5vw;
	color: white;
    transition: all 1s ease;
}
#carousel-center-title:hover{
	color: rgba(255, 255, 255, .7);
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


#carousel-image-logo{
	max-width: 50%;
  	height: auto;
    transition: all 1s ease;
    -webkit-filter: brightness(100%);
}

#carousel-image-logo:hover{
	max-width: 70%;
  	height: auto;
  	-webkit-filter: brightness(20%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#carousel-background{
    -webkit-filter: brightness(100%);
    transition: all 1s ease;
}

#carousel-background:hover{
	-webkit-filter: brightness(20%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

}

#orgNav{
    background: rgb(29,0,0);
    background: linear-gradient(200deg, rgba(29,0,0,1) 0%, rgba(128,0,0,1) 51%,  rgba(255,215,0,1) 100%);
}


#orgNavLinks{
	font-family: 'Oxygen', sans-serif;
}

.front-container{
  width: 100%;
}
.bg-img {
  /* The image used */
  /*background-image: url('/image/svg/backgroudn.svg');*/
  /*background-image: url('/image/sample-bg.jpg');*/
  background-image: linear-gradient(to bottom, transparent, #0a0000), url('/image/sample-bg.jpg');

  width: 100%;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}



.frontpage-title-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  /*margin: auto;*/
}
.frontpage-title-image{
  margin: auto;
  /*width: 80%;*/
}
.frontpage-title-logo-container{
  width: 30%;
  object-fit: cover;
  margin: auto;
}
.frontpage-title-title-container{
  width: 80%;
  margin: auto;
  padding: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.frontpage-title-title{
  font-family: 'Roboto',sans-serif;
  color: maroon;
  font-size: 200%;
}


.front-article-img-container{
    width: 50px;
}



#org-bacground-image {
  /* The image used */
  background: linear-gradient(to bottom, transparent, #0a0000), url('/image/organization-banner.jpg');

  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

.org-logo-placeholder{
    margin: 5% auto 0px auto;
    width: 35%; 
    text-align: center; 
    position: relative; 
    padding-bottom: 35%; 
    border-radius: 50%; 
    overflow: hidden; 
    background-color: #ff0082;
}
.org-logo-image{
    width: auto;
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    object-fit: cover;
}


.login{
    background: linear-gradient(to bottom, transparent, #0a0000), url('/image/pup-newspage.jpg');

    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  /* Needed to position the navbar */
    position: relative;
    transition: all 1s ease;
    -webkit-filter: brightness(80%);

}
.login:hover{
    -webkit-filter: brightness(100%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.glass{
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /*border: 3px solid #f1f1f1;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.login-label{
    color: rgba(255, 255, 255, 1.0);
}
.login-input{
    color: rgba(0, 0, 0, 1.0);
}





.news-title-text{
    font-family: 'Exo 2',sans-serif;
    font-size: 55px;
}
.news-container{
    background: white; 
    /*border: 2px solid black;*/
  /*border-radius: 12px;*/
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.latest-latest-news-container-nine{
    background: white; 
    /*border: 2px solid black;*/
  /*border-radius: 12px;*/
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
  transition: all 1s ease;
}
.latest-latest-news-container-nine:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);    
  transition: all 1s ease;
}
.text-center{
    font-family: 'Exo 2',sans-serif;
    font-size: 20px;
}



.table-title{
    font-family: 'Exo 2',sans-serif;
    font-size: 150%;
    color: black;
}




.footer-links{
 
  transition: all 1s ease;
}
.footer-links:hover{
    /*animation: footer 4s ease 0s infinite alternate;*/
    background: #635400;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);    
  transition: all 1s ease;
}


.organization-title{
    font-family: 'Exo 2',sans-serif;
    font-size: 500%;
}

.sliding-annonuncement-image-container{
    height: 80vh;
    width: 100%;
}

.sliding-annonuncement-image{
    object-fit: fill;
    width: 100vw;
    height: 100%;
}

.button-slider {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slide-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.slide-arrow::after {
    content: '';
    background: red;
    width: 0;
    height: 100%;
}

.prev-arrow::after {
    border-left: 0 solid transparent;
    border-right: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.next-arrow::after {
    border-right: 0 solid transparent;
    border-left: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.sliding-announcement-wrap {
    position: relative;
}


.homepage-affliated-org-logos-container{
    background: rgba(143, 143, 143, .8); 
    height: 20vh;
}
.homepage-affliated-org-logos-image-container{
    height:10%;
    background: red;
}
.homepage-affliated-org-logos-image{
    object-fit:cover; 
    height:10%;
    width: 100%; 
    /*filter: grayscale(100%); */
    /*margin-left: 30%;*/
    /*margin-right: 30%;*/
}

.homepage-apearing-divs{
    background: #810100;
/*    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 5%;
*/
}


#logo-wrapper{
    background: rgba(143, 143, 143, .8);
}
.logo-container{
    height: 50px;
}
.logo-image{
    object-fit:fill; 
    height:100%;  
    filter: grayscale(100%); 
    margin: auto;
}


/*  ANIMATION  */
@keyframes fade-in {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes footer{
   0%{
        background: rgba(122, 93, 227, 1.0);
        width: 10%;
    }
    100%{
        background: rgba(122, 93, 227, 1.0);
        width: 100%;
    }
}

/* RESPONSIVE  */
@media(max-width: 900px){
	#title{
		padding-top: 1%;
	}
}
